body{
  background: linear-gradient(white, sandybrown, firebrick);
  font-family: 'Permanent Marker', cursive;
}

h1 {
  text-align: center;
}

// .btn {
//   height: 8%;
//   width: 9%;
//   background-image: url("../../resources/images/button.png");
//   background-size: cover;
//   background-position: center;
// }

food-filter {
  color: white;
}

.jumbotron {
  margin-top: 5%;
  background-image: url("../../resources/images/foods.gif");
  background-size: contain;
  color: black;
  text-shadow: 1px 1px firebrick;
}

.col-md-4 {
  height: 120%;
  background-image: url("../../resources/images/food-table.jpg");
  background-size: cover;
  color: white;
}

.well {
  background-color: rgba(73, 72, 71, 0.1);
}

.edit {
  height: 3%;
  width: 4%;
}

.edit:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px crimson;
}

.btn {
  display: block;
  margin-top: 5%;
  border-radius: 45%;
  height: 10%;
  background-image: url('../../resources/images/hot-dog.png');
  background-size: cover;
  background-position: center;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px white;
}

.form-buttons {
  height: auto;
}
